<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <span th:text="${username}"></span>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
  </form>


  <form action="/admin/user" method="post">
    <input type="text" name="username"/>
    <input type="text" name="usertype"/>
    <input type="text" name="password" />
    <input type="submit" value="Create user"/>
  </form>
</body>
</html>