<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <span th:text="${username}"></span>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
  </form>
  <!--<span th:text="${model.pets}"></span>-->
  <tr th:each="pet: ${pets}">
    <td th:text="${pet.getName()}"></td>
    <!--<td th:text="${pet.vaccinations}"></td>-->
  </tr>
</body>
</html>