<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
        href="../../css/bootstrap.min.css" />
</head>
<body onload="document.f.username.focus();">
  <div class="content">
    <p th:if="${param.logout}" class="alert">You have been logged out</p>
    <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
    <span>Login with Username and Password</span>
    <form name="form" th:action="@{/login}" action="/login" method="POST">
        <input type="text" name="username" value="" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" id="login" value="Login" class="btn btn-primary" />
    </form>
  </div>
</div>
</body>
</html>