<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ветеринарная клиника">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>Ветеринарная клиника</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <!--<h1>Ветеринарная клиника <span th:text="${username}"></span></h1>-->

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <span class="text-muted">Ветеринарная клиника</span>
          </div>
          <!--<div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"></a>
          </div>-->
          <div class="col-4 d-flex justify-content-end align-items-center">
            <div th:switch="${username}">
              <span th:case=null>
                <img width="20" height="20" alt="Вход" src="/images/key.png" />
                <a class="btn btn-sm btn-outline-secondary" href="/login">Войти в личный кабинет</a>
              </span>
              <span th:case="*">
                <a class="btn btn-sm btn-outline-secondary" th:href="@{${endpoint}}"><span th:text="${username}"></span></a>
              </span>
            </div>

          </div>
        </div>
      </header>

      <!--<div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Новости</a>
          <a class="p-2 text-muted" href="#">Карта</a>
          <a class="p-2 text-muted" href="#">Документы</a>
        </nav>
      </div>-->

      <div>
        <div class="col-md-6 px-0">
          <img class="mb-4" src="/images/banner.jpg" alt="" width="1110" height="500">
          <!--<h1 class="display-4 font-italic">Забота о Вашем питомце</h1>
          <p class="lead my-3">Все виды ветеринарных услуг</p>-->
          <!--<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-150">
            <div class="card-body d-flex flex-column align-items-start">
              <!--<strong class="d-inline-block mb-2 text-primary">World</strong>-->
              <h3 class="mb-0">
                <a class="text-dark" href="#">Вакцинация</a>
              </h3>
              <!--<div class="mb-1 text-muted">Nov 12</div>-->
              <p class="card-text mb-auto">Какие прививки необходимы вашему питомцу и почему это важно.</p>
              <a href="#">Подробнее</a>
            </div>
            <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="150" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-150">
            <div class="card-body d-flex flex-column align-items-start">
              <!--<strong class="d-inline-block mb-2 text-success">Design</strong>-->
              <h3 class="mb-0">
                <a class="text-dark" href="#">Запись на прием</a>
              </h3>
              <!--<div class="mb-1 text-muted">Nov 11</div>-->
              <!--<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#">Continue reading</a>-->
            </div>
            <svg class="bd-placeholder-img card-img-right flex-auto d-none d-lg-block" width="200" height="150" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p>Ветеринарная клиника <a href="https://vk.com/compilator">ВКонтакте</a></p>
      <p>
        <a href="#">Наверх</a>
      </p>
    </footer>
  </body>
</html>